:root {
    --primary-color: rgb(71, 117, 243);
    --border-bottom: 3px solid rgb(26, 25, 24);
    --background-color: rgb(181, 180, 179);
}

/* global selectors */
* body {
    background-color: rgb(181, 180, 179);
    color: var(--primary-color);
}

* a {
text-decoration: none;
color: var(--primary-color);
}

    

* ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid rgb(26, 25, 24);
    color: rgb(181, 180, 179);
    padding: 0;
    background: var(--primary-color);
    font-weight: bolder;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
header nav ul a {
    color: white;
    padding: 30px;
    font-size: 22px;
}


header h1 {
    font-size: 48px;
    font-weight: bolder;
    padding-left: 15px;
    color: white;
}

/* Footer */

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 3px solid rgb(26, 25, 24);
    color: rgb(181, 180, 179);
    padding: 0;
    background: var(--primary-color);
    font-weight: bolder;
    margin: 0;
}

footer h2 {
    font-size: 35px;
    font-weight: bolder;
    padding-left: 15px;
    color: white;
    padding-right: 0;
    margin: 0;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer ul li {
    color: white;
    padding: 15px 115px;
}

footer ul li a {
    color: white;
    justify-content: flex-end;
    font-size: 16px;
    margin: 0;

}

/* About Me */
#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    color: whitesmoke;
    border-bottom: var(--border-bottom);
}

.about-me-text h2{
    font-size: 36px;
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: var(--border-bottom);
    width: 35%;
    margin-bottom: 30px;
}

.about-me-text p {
    padding: 15px 0 5px 0;
    font-size: 20px;
    line-height: 1.5;
}

#about-me img {
    margin-right: 15px;
    border-right: 2px solid whitesmoke;
}

/* Work Section */

/* #work {} */

.run-buddy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-bottom: var(--border-bottom);
    padding: 5px 0;
}


#work h2{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-top: 35px;
}

.run-buddy-text  {
    position: absolute;
    background: whitesmoke;
    left: 0px;
    bottom: 10px;
    line-height: 1.25;
    border: 3px solid var(--primary-color);
}
.run-buddy h3 {
    font-size: 28px;
}

/* ph1 */

.placeholder1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    border-bottom: var(--border-bottom);
    padding: 5px 0;
}

.ph1-text {
    position: absolute;
    background: whitesmoke;
    right: 0px;
    bottom: 10px;
    line-height: 1.25;
    border: 3px solid var(--primary-color);
}
.ph1-text h3 {
    font-size: 22px;
}

/* ph2 */

.placeholder2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 0;
    border-bottom: var(--border-bottom);
    padding: 5px 0;
}

.ph2-text {
    position: absolute;
    background: whitesmoke;
    left: 0px;
    bottom: 10px;
    line-height: 1.25;
    border: 3px solid var(--primary-color);
}

.ph2-text h3 {
    font-size: 22px;
}

/* ph3 */

.placeholder3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    border-bottom: var(--border-bottom);
    padding: 5px 0;
}

.ph3-text {
    position: absolute;
    background: whitesmoke;
    right: 0px;
    bottom: 10px;
    line-height: 1.25;
    border: 3px solid var(--primary-color);
}

.ph3-text h3 {
    font-size: 22px;
}

/* ph4 */

.placeholder4 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 0;
    border-bottom: var(--border-bottom);
    padding: 5px 0;
}

.ph4-text {
    position: absolute;
    background: whitesmoke;
    left: 0px;
    bottom: 10px;
    line-height: 1.25;
    border: 3px solid var(--primary-color);
}

.ph4-text h3 {
    font-size: 22px;
}














